<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header class="_header _content-wrapper" th:fragment="content">
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <h5 class="text-uppercase">포트폴리오입니다</h5>
        <p>
            저작권을 주장하지 않으며, 개인 프로젝트로 상업적 이익을 추구 하지 않습니다.
        </p>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 <span>유수현</span>
    </div>
</footer>
</header>